*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
/* Header Nav */
header nav,
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 2rem 0 4rem;
    align-items: flex-end;
    gap: 40px;
}
header nav li,
nav a{
    list-style: none;
    text-decoration: none;
    color: hsl(243, 87%, 12%);
}
/* Section-1 */
.section-1{
    display: flex;
    flex-direction: row;
    margin: 5rem 4rem 10rem 3rem;
}
.section-1 .textandform{
    width: 50%;
}
.textandform h2{
    font-size: 35px;
    font-weight: 700;
    margin: 5rem 5rem 0 0;
    line-height: 3rem;
}
.textandform p{
    margin: 1rem 6rem 0 0;
    line-height: 1.3rem;
}
.textandform input{
    width: 270px;
    height: 40px;
    margin: 1rem 0.5rem 0 0;
    border-radius: 5px;
    font-weight: 700;
}
.textandform button{
    width: 170px;
    height: 40px;
    background-color: hsl(224, 93%, 58%);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.section-1 img{
    width: 50%;
}
/* Section 2 */
.section-2-content{
    display: flex;
    flex-direction: row;
    background-color: hsl(240, 75%, 98%);
    padding: 3rem 4rem 0 4rem;
}
.textandcard{
    width: 60%;
}
.textandcard h2{
    font-size: 38px;
}
.textandcard .p1{
    margin: 2rem 10rem 0 0;
    line-height: 1.5rem;
}
.textandcard .p2{
    margin: 1rem 12rem 0 0;
    line-height: 1.5rem;
}
.textandcard .link,
a{
    color: hsl(170, 45%, 43%);
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.textandcard .link img{
    width: 20px;
    height: 20px;
}
.textandcard .card{
    margin: 3rem 0 10rem 0;
    background-color: white;
    width: 360px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    height: 220px;
}
.textandcard .card .quote-icon{
    margin: 1.5rem 0 0 2rem;
    width: 17px;
    height: 17px;
}
.textandcard .card p{
    margin: 0.5rem 1rem 0 2rem;
    font-size: 15px;
    line-height: 1.5rem;
}
.textandcard .information{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 1rem 0 0 2rem;
}
.textandcard .information .nameandjob{
    font-size: 12px;
}
.textandcard .information .name{
    font-weight: 700;
    padding: 0 0 3px 0;
}
.textandcard .card .information .avatar-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.section-2-content .img{
    width: 40%;
    margin: 0 0 13rem 0;
}
/* Section 3 */
.section-3{
    background-color: hsl(238, 22%, 44%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 4rem 5rem 4rem;
}
.section-3 .textandp{
    width: 50%;
}
.section-3 h2{
    color: white;
    font-size: 30px;
}
.section-3 p{
    color: white;
    line-height: 1.5rem;
    margin: 1rem 8rem 0 0;
    font-family: 'Open Sans', sans-serif;
}
.section-3 form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section-3 form input{
    width: 500px;
    height: 50px;
    margin: 0 0 0 7rem;
    border-radius: 5px;
}
.section-3 form button{
    margin: 0 0 0 7rem;
    width: 200px;
    height: 50px;
    background-color: hsl(224, 93%, 58%);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
footer{
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(243, 87%, 12%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
footer .contact{
    margin: 5rem 0 5rem 4rem;
}
footer .contact .phone{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 1.5rem 0 0 0;
}
footer .contact .email{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 1.5rem 0 0 0;
}
footer .about{
    display: flex;
    flex-direction: row;
    height: 130px;
    justify-content: space-between;
    width: 350px;
    margin: 8rem 0 7rem 0;
}
footer .about .l,
.r{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer .icons img{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}
footer .icons{
    margin: 8rem 15rem 0 0;
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}